<!--
 -->
<mat-grid-list cols="3" rowHeight="1:1.2">
  <div *ngFor="let czlowiek of ludzie_l">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{czlowiek.nazwisko | uppercase}}</mat-card-title>
          <mat-card-subtitle>wiek: {{czlowiek.wiek}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{czlowiek.obraz}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{(czlowiek.umiejetnosc.length > 100)? (czlowiek.umiejetnosc | slice:0:100)+ '***':(czlowiek.umiejetnosc) }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
          <button mat-raised-button color="accent">Wybierz</button>

        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

  </div>
</mat-grid-list>
